
.buy-cpd{


h1{
    padding-top: 11rem;
    color: $white-color;
    font-size: 40px;
    font-family: 'Sk-Modernist',Arial,sans-serif;
    font-weight: 700;
    line-height: 62px;
}

h3{
    color: $white-color;
    font-size: 18px;
    font-family: 'Sk-Modernist',Arial,sans-serif;
    font-weight: 400;
    line-height: 28px;
}
.cpd-button{
    background:$white-color;
    color: $blue-color;
    font-size: 18px;
    font-family: 'Sk-Modernist',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 600;
    padding: 0.8rem 2.6rem;
    margin-top: 2rem;
    border: 2px;
    border-radius: 10px;
}

.cpd-images{
    padding-top: 2rem;
.pink-unicorn{
    width: 160px;
    position: relative;
    right: 14%;
}
.Rectangleland{
    width: 110px;
    position: relative;
    top: 3%;
    left: 40%;
}
.rabbit-img{
    position: relative;
    top: 32%;
    left: 30%;
    width: 125px;
}
.cpd{
    position: relative;
    bottom: 12%;
    right: 33%;
    width: 770px;
    height: 656px;
}
.red-symbol{
    position: relative;
    top: 60%;
    right: 25%;
    width: 100px;
}
.blue-unicorn{
    right: 40%;
    position: relative;
    bottom: 44%;
    width: 160px;
}
}}