
.buy-cpd{

.column-height{
    height: 800px;
}
.strategy{
   
        img{
            width: 150px;
        }
        padding-right: 15px;
    
}
.partners{
    white-space: nowrap;
    padding-bottom: 2rem;
}
h1{
    padding-top: 11rem;
    color: $white-color;
    font-size: 40px;
    font-family: 'Sk-Modernist',Arial,sans-serif;
    font-weight: 700;
    line-height: 62px;
}

h3{
    color: $white-color;
    font-size: 18px;
    font-family: 'Sk-Modernist',Arial,sans-serif;
    font-weight: 400;
    line-height: 28px;
}
.cpd-button{
    background:$white-color;
    color: $blue-color;
    font-size: 18px;
    font-family: 'Sk-Modernist',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 600;
    padding: 0.8rem 2.6rem;
    margin-top: 2rem;
    border: 2px;
    border-radius: 10px;
}

.cpd-images{
    padding-top: 2rem;
.pink-unicorn{
    width: 160px;
    position: relative;
    right: 14%;
}
.Rectangleland{
    width: 110px;
    position: relative;
    top: 3%;
    left: 40%;
}
.rabbit-img{
    position: relative;
    top: 35%;
    left: 29%;
    width: 125px;
}
.cpd{
    position: relative;
    bottom: 15%;
    right: 33%;
    width: 770px;
    height: 656px;
}
.red-symbol{
    position: relative;
    top:77%;
    right: 25%;
    width: 100px;
}
.blue-unicorn{
    right: 41%;
    position: relative;
    bottom: 57%;
    width: 160px;
}
}}