/*.....colors and breakpoints.........*/





$breakpoint_1400: 'max-width:1400px';
$breakpoint_1200: 'max-width:1200px';
$breakpoint_991: 'max-width:991px';
$breakpoint_992: 'max-width:992px';
$breakpoint_768: 'max-width:768px';
$breakpoint_576: "max-width: 576px";
$breakpoint_479: 'max-width:479px';
$breakpoint_320: 'max-width:320px';




/*...............colors...............*/
$white-color:white;
$background-color:#040517;
$navyblue-color:#161627;
$blue-color:#144bff;
$lightgray-color:#919394;
$darkgray-color:#525252;
$gray:#575757;
$light-navy:#1d1e33;
$white-smoke:#9b9ba2;



@mixin contin{
    max-width: 1250px;
    width: 100%;
    margin: auto;
    padding: 10px 2rem;
}