/*.....colors and breakpoints.........*/





$breakpoint_1400: 'max-width:1400px';
$breakpoint_1200: 'max-width:1200px';
$breakpoint_992: 'max-width:992px';
$breakpoint_768: 'max-width:768px';
$breakpoint_576: "max-width: 576px";
$breakpoint_479: 'max-width:479px';
$breakpoint_320: 'max-width:320px';