.custom-container {
    width: 100%;
    margin: auto;
    padding: 0rem 3rem;
    max-width: 1250px;

    @media ($breakpoint_992) {

        padding-left: 2rem;
        padding-right: 2rem;
    }

    @media ($breakpoint_768) {
        .custom-container {

            padding: 0rem 2rem;
        }
    }

    @media ($breakpoint_576) {
        .custom-container {

            padding: 0rem 4rem;
        }
    }

    @media ($breakpoint_479) {
        .custom-container {

            padding: 0rem 4rem;
        }
    }
}


.banner-sec {

    // @media ($breakpoint_1400) {
    //     max-width: 1250px;
    //     width: 100%;
    //     margin: auto;
    //     padding: 15px 2rem;
    // }
    @media ($breakpoint_1200) {
        padding: 0rem;
    }

    @media ($breakpoint_768) {
        padding: 0 2rem;
    }

    @media ($breakpoint_576) {
        padding: 0 10px;
    }

    .section1 {
        @media ($breakpoint_1200) {
            display: flex;

        }

        @media ($breakpoint_992) {
            flex-direction: column-reverse;

        }

        .card-data-banner {
            padding-left: calc(0% + 30px + 100px);
            // @media ($breakpoint_1400) {
            //     padding-left: 0rem;
            // }

            @media ($breakpoint_1200) {
                padding-left: 3rem;
            }

            @media ($breakpoint_992) {
                padding-left: 0 !important;
            }

        }

        .card-img {
            height: 100%;
            background-image: url(https://static.tildacdn.com/tild6535-3039-4735-b831-323736373938/-2_0001_12100cd53.png);
            background-position: left;
            background-repeat: no-repeat;
            background-size: cover;

            @media ($breakpoint_992) {
                height: 400px;
                width: 100%;
                background-position: center;
                background-size: contain;
            }
        }
    }

}

.home-page {
    background: $background-color;
    overflow-x: auto;
    .message-icon{
        color: $white-color;
    }
}

@media ($breakpoint_992) {
    .custom-container {
        padding-left: 2rem;
    }

}

@media ($breakpoint_576) {

    .custom-container {
        padding: 0px 0px 0px 10px;
    }
}

.section1 {
    justify-content: space-between;


    h1 {
        font-size: 64px;
        text-align: left;
        color: $white-color;
        font-weight: 700;
    }

    .accept {
        color: $white-color;
        border-top: 1px solid $navyblue-color;
        padding: 1.7rem 0rem;

        margin-right: 20px;
        font-size: 17px;
        opacity: 0.8;
    }

    .get-paid {
        color: $white-color;
        padding: 1.7rem 0rem;
        margin-left: 20px;
        border-top: 1px solid $navyblue-color;

        font-size: 17px;
        opacity: 0.8;
    }

    @media ($breakpoint_1400) {
        .payment-gateway {
            // padding-left: 2rem;

            h1 {
                font-size: 50px;
            }

        }
    }

    @media ($breakpoint_992) {
        .payment-gateway {
            // padding-left: 2rem;

            h1 {
                font-size: 43px;
                font-weight: 700;
            }

        }

    }

    @media ($breakpoint_576) {
        .payment-gateway {
            padding-left: 1rem;
            padding-right: 1rem;

            h1 {
                font-size: 34px;
                font-weight: 700;
            }

        }
    }

    @media ($breakpoint_479) {
        .payment-gateway {
            h1 {
                font-size: 24px;
                font-weight: 700;
            }

            .accept {
                font-size: 14px;
            }

            .get-paid {
                font-size: 14px;
            }
        }
    }



    img {
        width: 100%;
    }



}

.accept-payments {
    display: flex;
    text-align: left;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
}

.section1-btn {
    display: flex;
    margin-bottom: 6rem;

    @media ($breakpoint_576) {
        margin-bottom: 3rem;
    }

    @media ($breakpoint_479) {

        display: block;
        margin-bottom: 3rem;

    }

    .consultation {
        margin-right: 30px;
        border-radius: 10px;
        border: 0px;
        background-color: $blue-color;
        color: $white-color;
        padding: 1rem 1.5rem !important;
        font-size: 14px !important;

        @media ($breakpoint_576) {
            white-space: nowrap;
        }

        @media ($breakpoint_479) {
            margin-right: 0px;
            width: 100%;

        }
    }

    .goto {

        border-radius: 10px;
        border: 0px;
        background-color: $navyblue-color;
        color: $white-color;
        padding: 1rem 1.5rem !important;
        font-size: 14px !important;

        @media ($breakpoint_576) {
            white-space: nowrap;
        }

        @media ($breakpoint_479) {
            margin-top: 10px;
            width: 100%;

        }
    }
}

.section1-bottom-logo {
    display: flex;
    padding-bottom: 2rem;

    @media ($breakpoint_479) {

        text-align: center;
        justify-content: space-between;
        padding: 0rem 2rem 0rem 2rem;

    }

    .award {
        margin-right: 4rem;
        margin-top: 10px;

        @media ($breakpoint_479) {
            margin-right: 0rem;
        }

        h4 {
            color: $white-color;
            font-size: 1.5rem;
            font-weight: 700;
        }
    }

    .A-logo img {
        height: auto;
        width: 50px;
    }

}



.CryptoProcessing {
    font-family: 'Sk-Modernist', Arial, sans-serif;
    margin-top: 6rem;
    font-size: 60px;
    padding: 1rem 6rem 0rem 6rem;
    font-weight: 800;
    color: $white-color;
    text-align: left;
}

.first-img-position {
    position: absolute;
}

.second-img-position {
    position: relative;
}

.third-img-position {
    position: absolute;
    bottom: 24px;
}

.first-image {
    width: 100% !important;
}

.second-image {
    width: 100% !important;
}

.third-image {
    width: 100% !important;
}

/* .........Section2...... */
.should-integrate {
    background-color: $navyblue-color;

    .integrate-container {

        @media ($breakpoint_992) {
            padding-top: 0px !important;


        }

        @media ($breakpoint_992) {
            .row-why {
                padding: 0px;
            }
        }
    }

    .integrate {
        h1 {
            line-height: 0.9;
            color: $white-color;
            font-size: 64px;
            padding: 0px 0px 5rem 0px;

            span {
                opacity: 0.7;
            }
        }

        @media ($breakpoint_992) {
            h1 {
                font-size: 37px;
                padding-bottom: 0rem;
            }

        }

        @media ($breakpoint_576) {

            h1 {
                font-size: 35px;
                padding: 0px;
            }
        }

        @media ($breakpoint_479) {

            h1 {
                font-size: 24px;
                padding: 0px;
            }

        }


    }

    .margin-save {
        @media ($breakpoint_992) {
            padding-left: 0rem;
            padding-bottom: 0rem;
        }

        @media ($breakpoint_576) {
            padding-bottom: 0rem;
            padding-left: 10px;
        }

        padding-bottom: 5rem;

        .save-up {

            h3 {
                color: $white-color;
                line-height: 1;
                font-size: 30px;
            }

            @media ($breakpoint_992) {
                padding-bottom: 1rem;

            }

            @media ($breakpoint_576) {
                h3 {

                    font-size: 18px;
                }
            }

            @media ($breakpoint_479) {
                h3 {

                    font-size: 16px;
                }
            }
        }
    }

}

/*........Section3.......*/
.section3 {
    background-color: $navyblue-color;
    padding: 1.5rem 0rem 4rem;

    @media ($breakpoint_992) {

        padding: 1.5rem 0rem 1rem;
    }

    .table-row {
        margin: 0px;
    }

    .table-scroll {
        overflow-x: scroll;
    }

    .table-section {
        table {
            margin: auto;
            background: black;

            .table-head1 {
                padding-left: 20px;
            }

            th {
                width: 33%;
                font-size: 18px;

                @media ($breakpoint_576) {
                    font-size: 14px;
                }
            }

            th,
            tr,
            td {

                border: 1px solid $navyblue-color;
                padding: 1rem 6rem;
                color: $white-color;
                text-align: left;
                font-size: 18px;

                @media ($breakpoint_576) {
                    font-size: 14px;
                }
            }

            td {
                font-weight: 700;
            }
        }
    }

}

/*.....Section4............*/
.acceptance-section4 {
    background-color: $background-color;
    padding-top: 3rem;

    @media ($breakpoint_479) {

            padding-top: 1rem !important;

    }

    @media ($breakpoint_992) {
        .row-accept {

            padding-top: 0rem !important;
        }
    }

    @media ($breakpoint_576) {
        .row-accept {
            padding-left: unset;
        }
    }

    .acceptance {
        h1 {
            line-height: 0.9;
            color: $white-color;
            font-size: 64px;

            span {
                opacity: 0.7;
            }
        }

        @media ($breakpoint_992) {
            h1 {
                font-size: 40px;

            }


        }

        @media ($breakpoint_576) {
            h1 {

                font-size: 35px;
            }
        }

        @media ($breakpoint_479) {
            h1 {

                font-size: 24px;
            }
        }


    }

    .leave-your {

        justify-content: space-between;
        padding-bottom: 4rem;

        @media ($breakpoint_992) {
            padding-left: 0rem;

        }

        @media ($breakpoint_576) {
            display: block !important;
            padding-left: unset;

        }

        .free-marketing {
            width: 62%;

            h3 {
                color: $white-color;
                font-size: 42px;
                font-weight: 600;
                padding-top: 4rem;
                margin-bottom: 1.5rem;


            }

            @media ($breakpoint_992) {
                h3 {
                    font-size: 28px;
                }

            }

            @media ($breakpoint_576) {
                width: 100%;

                h3 {
                    font-size: 28px;
                    padding-top: 2rem !important;
                }
            }

            @media ($breakpoint_479) {


                h3 {
                    font-size: 22px;
                    padding-top: 2rem !important;
                }
            }

        }

        .contact-sales {
            width: 38%;
            text-align: right;
            padding-top: 5.7rem;

            @media ($breakpoint_576) {
                padding-top: 0rem;
                text-align: left;
            }

            @media ($breakpoint_479) {
                width: 100%;
                padding-top: 0px;
                text-align: left;

            }

            .Contact-btn {
                // margin-right: 30px;
                border-radius: 10px;
                border: 0px;
                background-color: $blue-color;
                color: $white-color;
                padding: 1rem 3.5rem;
                font-size: 14px;

                @media ($breakpoint_992) {
                    padding: 1rem 3.5rem;
                    margin-right: 0px;
                }

                @media($breakpoint_768) {
                    padding: 1rem 3.5rem;
                    white-space: nowrap;
                }

                @media ($breakpoint_576) {
                    width: 100%;
                    margin-right: 0px;
                    white-space: nowrap;
                    padding: 1rem 2rem;
                }


            }
        }
    }

    @media ($breakpoint_992) {
        .request {
            padding-left: 0rem;
            padding-bottom: 0px;
        }
    }

    @media ($breakpoint_576) {
        .request {
            padding-bottom: 0px;
            padding-left: unset;

        }
    }

    @media ($breakpoint_479) {
        .request {
            padding-bottom: 0px;
            padding-left: unset;
        }
    }

    .business-type {
        text-align: center;

        @media ($breakpoint_992) {
            text-align: center;
        }

        img {
            width: 100%;
            max-width: 479px;

            @media ($breakpoint_992) {
                width: 85%;
                min-width: auto;
            }

        }

    }


    .forex {
        padding-left: 9rem;
        padding-top: 5rem;

        h3 {
            font-size: 42px;
            color: $white-color;
            font-weight: 700;
        }

        @media ($breakpoint_992) {
            padding-left: 1rem;
            padding-top: 0rem;

            h3 {
                font-size: 34px;
            }
        }




        @media ($breakpoint_576) {
            padding-left: 10px !important;
            padding-top: 0rem;

            h3 {
                font-size: 30px;
            }
        }

        @media ($breakpoint_479) {

            padding-left: 10px !important;

            h3 {
                font-size: 24px;
            }
        }

    }


    .multi-currency {
        color: $white-color;
        line-height: 28px;
        font-size: 18px;
        margin-right: 1rem;
        opacity: 0.6;

        @media ($breakpoint_576) {
            font-size: 14px;
            margin-right: 0rem;
        }

        @media ($breakpoint_479) {
            font-size: 14px;
            margin-right: 0rem;
        }
    }

    Button {
        padding: 1rem 3rem;
        font-size: 14px !important;
        margin-top: 1rem;
        background-color: $navyblue-color;
        border: $navyblue-color;
        font-weight: 600;

        @media ($breakpoint_576) {
            padding: 1rem 2rem;
        }

        .arrow {
            margin-left: 4px;
        }

        .MuiSvgIcon-root {
            font-size: 13px;
        }
    }


}

.leisure {
    font-size: 42px;
    color: $white-color;
    font-weight: 700;

    @media ($breakpoint_992) {

        font-size: 35px;
    }

    @media ($breakpoint_576) {

        font-size: 30px;
    }

    @media ($breakpoint_479) {

        font-size: 24px;
    }
}

/*.......Section5......*/

.activities {
    padding-top: 3rem;

    @media ($breakpoint_992) {
        padding-top: 0rem;
    }

    @media ($breakpoint_992) {
        .row-leisure {
            padding-left: 0rem;
        }
    }

    @media ($breakpoint_576) {
        .row-leisure {
            padding-left: unset;
        }
    }
}

@media ($breakpoint_992) {
    .commerce-section {
        flex-direction: column-reverse;
        // padding-left: 1rem;
    }
}

@media ($breakpoint_576) {
    .commerce-section {
        padding-left: unset;
    }
}

.e-commerce {
    padding-left: 7rem;

    h3 {
        font-size: 42px;
        color: $white-color;
        font-weight: 700;
    }

    @media ($breakpoint_992) {
        h3 {
            font-size: 35px;

        }

    }

    @media ($breakpoint_576) {
        h3 {
            font-size: 30px;

        }

    }

    @media ($breakpoint_479) {
        h3 {
            font-size: 24px;

        }

    }
}

.software {
    @media ($breakpoint_992) {
        flex-direction: column-reverse;
        padding-left: 0rem;
    }

    @media ($breakpoint_576) {
        padding-left: unset;
    }
}

.open-for-growth {
    h1 {
        line-height: 0.9;
        color: $white-color;
        font-size: 64px;

        @media ($breakpoint_992) {
            font-size: 40px;
        }

        @media ($breakpoint_576) {
            font-size: 35px;
        }

        @media ($breakpoint_479) {
            font-size: 24px;
            margin-bottom: 1.5rem;
        }

        span {
            opacity: 0.7;
        }
    }
}

.let-go {
    width: 38%;
    text-align: right;
    padding-top: 3.5rem;

    @media ($breakpoint_992) {
        padding-top: 0px;

    }

    @media ($breakpoint_576) {
        padding-top: 0px;
        text-align: left;
    }

    @media ($breakpoint_479) {
        padding-top: 0rem;
        width: auto;
        text-align: left;

    }

    .Go-btn {
        // margin-right: 30px;
        border-radius: 10px;
        border: 0px;
        background-color: $blue-color;
        color: $white-color;
        padding: 1rem 4rem;
        font-size: 14px;

        @media ($breakpoint_992) {
            white-space: nowrap;
            margin-right: 0px;
        }

        @media ($breakpoint_768) {
            white-space: nowrap;
            margin-right: 0px;
        }

        @media ($breakpoint_576) {
            white-space: nowrap;
            padding: 1rem 4rem;
        }

        @media ($breakpoint_479) {
            margin-right: 0px;
            width: 100%;
        }
    }
}

.counts {
    padding: 0rem 0rem 4rem 0rem;
    color: $white-color;

    @media ($breakpoint_992) {
        padding-left: 0rem;
        padding-bottom: 1rem;

        .proven-leader,
        .years-working,
        .merchants {
            font-size: 16px;


        }

    }

    h1 {
        font-size: 42px;
        font-weight: 700;
    }

    .proven-leader,
    .years-working,
    .merchants {
        font-size: 18px;
        padding-top: 15px;
        opacity: 0.6;

    }

    @media ($breakpoint_576) {
        padding-bottom: 1rem;
        padding-left: unset;

        h1 {
            font-size: 28px !important;
        }

        .proven-leader,
        .years-working,
        .merchants {
            font-size: 11px !important;

        }

    }

    @media ($breakpoint_479) {
        padding-bottom: 1rem !important;

        h1 {
            font-size: 24px !important;
        }

        .proven-leader,
        .years-working,
        .merchants {
            font-size: 9px !important;

        }
    }


}

.more-details {
    padding: 0rem 0rem 5rem 0rem;

    @media ($breakpoint_992) {
        padding-left: 0rem;
    }

    @media ($breakpoint_576) {
        padding-left: unset;

    }

    .bitcoin {
        font-size: 14px;
        font-weight: 400;
        color: $white-color;
        opacity: 0.6;
        padding-bottom: 10px;
    }

    .Cryptoprocessing-btn {
        background-color: $gray;
        border: $gray;

        padding: 0.9rem 1.7rem;
        font-size: 14px;
        font-weight: 600;
    }
   
}