
.header-container{
    max-width: 1250px;
    width: 100%;
    margin: auto;
    padding: 15px 2rem;
}



.navbar-section {
    background: #040517;

  
}

.login-space {

    margin-right: 10px;

}

.login-btn {
    padding: 0.5rem 2rem;
    background-color: #1d1e33 !important;
    border: #1d1e33 !important;
    margin-right: 10px;
    a {
        text-decoration: none;
        color: white;
    }
}

.solution {
    white-space: nowrap;
}

.became {
    white-space: nowrap;
}

.sign-up-btn {
    padding: 0.3rem 0.7rem !important;
    white-space: nowrap;
}

.navbar-toggler:hover {
    text-decoration: none;
    background: white;
}

.navbar-toggler:active {
    background: white;
}

.navbar-section .collapsed {
    background-color: white;
}

.header-top {
    text-align: center;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.logo {
    margin-right: 30px;
}

.coinspaid-logo {
    width: 174px;
    min-width: 174px;
    height: auto;
}

.nav-styles {
    margin-right: 7rem;
}

.list {
    display: flex;
    align-items: center;
    text-align: center;
}

.link-items {
    padding: 1rem;
}

.link-items{
    a {
        text-decoration: none;
        color: #9b9ba2;
        font-size: 15px;
        font-weight: 700;
        opacity: 0.8;

        &:hover{
            color: #ffffff !important;
        }
        
    }
}


.spacing-top {
    padding-top: 0.5rem;
}
